.shipping-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #AAB7B8;
   margin-top: 20px;
}
.from-container input {
   width: 500px;
  
}

@media only screen and (max-width: 768px) {
   .from-container input {
      width: 300px;
     
   }
}