.order-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.order-text{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}
.order{
    font-size: 30px;
    font-weight: 500;
    color: #6495ED;
}